@font-face{
    src: url("Provicali.otf");
    font-family: provi;
}
/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: provi;
}

img {
    width: 100px;
}
.d1{
    background-image: url("https://live.staticflickr.com/3899/15174434919_7fe91b8ae8_b.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px solid black;
    height: 370px;  
}
.d1:hover{
    background-image: url("https://c.tenor.com/IoApk7NXkgAAAAAd/lahore-badshahi-masjid.gif")
}


.title{
    background: #a68a64;
    color: whitesmoke;
    padding: 10px;
    font-family: provi;
    text-shadow: 3px 5px black;
    margin-bottom: 50px;
    border-bottom: 3px solid whitesmoke;
}

.desc{
    background: #a68a64;
    color: whitesmoke;
    padding: 6px;
    margin: -40px;
    font-family: provi;
    text-shadow: 1px 3px black;
    border-bottom: 3px solid whitesmoke;  
}

.d2{
    background: #e6ccb2 ;
    height: 320px;
    border-bottom: 5px solid black;
    

    
}
.d2_1{
    display: flex;
    justify-content: space-around;
}


.g1, .g2, .g3{
    width: 95px;
    height: 90px;
    border-radius: 50%;
}

.me{
    width: 150px;
    padding: 15px;
}

.d3{
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
    max-width: 60%;
    text-align: cente;
    padding-right: 20px;
    
    background-color: #A8DADC;
    border-bottom: 5px solid #1D3557;
    border-radius: 5px;
}